{% extends "base.html" %}

{% block content %}

<section class="card">
  <form action="{{ url_for('add') }}" method="post" class="add-form">
    <input name="title" required placeholder="What do you need to do?">
    <button type="submit">Adicionar</button>
  </form>
</section>

    <section class="card">
    {% if tasks %}
      <ul class="tasks">
        {% for task in tasks %}
            <li class="task{% if task.done %} done{% endif %}">

              <form action="{{ url_for('toggle', task_id=task.id) }}" method="post">
                <button class="toggle" type="submit">✓
                </button>
              </form>

            <span class="title">{{ task.title }}
            </span>

            <form action="{{ url_for('delete', task_id=task.id) }}" method="post">
                <button class="delete" title="Delete" type="submit">×
                </button>
            </form>  

            </li>

        {% endfor %}
      </ul>

        {% else %}
          <p class="empty">Nenhuma tarefa ainda.</p>
    {% endif %}
    </section>

    
{% endblock %}